* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;

}

/* Estilos del encabezado */

header {
    background-color: #efefef;
    display: flex;
    justify-content: space-around;
}

#logo {
    width: 8em;
}

h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 0.3em;
}

ul li a {
    text-decoration: none;
}

h1 {
    margin-left: 0.5em;
    font-size: 3em;
    color: #000;
    font-style: italic;
}

.navegacion a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    transition: 0.3s all;
}

.navegacion a:hover {
    color: orange;
}

.navegacion a:active {
    color: white
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-style: italic;
    padding-top: 0.7em;
}

.formulario {
    width: 50%;
    margin: 2em auto;
    padding: 1em 3em;
    background: rgb(226,226,226);
    background: linear-gradient(90deg, rgb(240, 240, 240) 0%, rgb(155, 155, 155) 100%); 
    border: 2px solid black;
    border-radius: 10px;
}

.input-text {
    display: block;
    margin-bottom: 0.5em;
    width: 80%;
    padding: 0.5em;
    border-radius: 10px;
}

.label-texto {
    display: block;
    font-size: 1.2em;
    padding: 0.5em 0;
    font-weight: bold;
}

form fieldset label {
    font-size: 1.2em;
    padding-left: 0.5em;
    display: block;
    margin: 1em 0;
}

form fieldset label:hover {
    font-weight: bold;
}

form fieldset label input {
    margin-right: 0.5em;
}

fieldset legend {
    margin: 1em 0;
    font-size: 1.4em;
    font-style: italic;
}

fieldset input {
    display: inline-block;
}

.boton {
    margin-bottom: 1em;
    background-color: rgb(255, 166, 0);
    border-radius: 10px;
    width: 20%;
    cursor: pointer;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    border: none;
    transition: 1s all;
}

.boton:hover {
    background-color: rgb(255, 199, 95);
    transform: scale(1.1);
}

.ofertas {
    display: flex;
    align-items: center;
    margin: 1em;
    padding-bottom: 1em;
}

.ofertas p {
    padding-left: 0.5em;
    font-weight: bold;
}

.tabla-horarios {
    border: 2px solid black;
    margin: 1em auto;
}

.tabla-horarios thead {
    background-color: rgb(93, 92, 92);
    font-weight: bold;
    color: white;
    padding: 2em;
}

th, td {
    border: 1px solid black;
    padding: 0.5em;
}

footer {
    background-color: #000;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 1em;
    color: white
}

footer img {
    width: 20%;
    transition: 2s all;
}

footer img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    header {
        flex-direction: column;
    }
    .navegacion {
        font-size: 1.2em;
        padding: 1em 0;
    }
    #logo {
        display: block;
        margin: 0 auto;
    }

}

@media screen and (min-width: 576px) and (max-width: 920px) {
    ul li {
        display: block;
        padding: 0.2em 0;
    }
}